/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.alerta{
    background-color: rgb(212, 237, 218);
    color: rgb(21, 135, 118);
  }